# Ignore node_modules folder
/node_modules/

# Ignore logs folder
/logs/

# Ignore VSCode settings
/.vscode/

# Ignore production build
/build/

# Ignore local environment variables
.env

# Ignore API keys
*.key

# Ignore database files
*.db

# Ignore coverage folder
/coverage/

